# Base de données - Développement local avec Docker
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/blog?schema=public"

# Base de données - Production avec Neon
# DATABASE_URL="postgres://user:password@ep-example.region.neon.tech/neondb?sslmode=require"
# DIRECT_URL="postgres://user:password@ep-example.region.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-local"

# API Keys (if needed)
API_KEY="your-api-key"

# Configuration du service de stockage
STORAGE_URL="your-storage-url"
STORAGE_KEY="your-storage-key"

# Autres configurations
SITE_URL="http://localhost:3000"
ENVIRONMENT="development" 