/* Styles pour les boutons de navigation Swiper */
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  color: #007bff !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #007bff;
  color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem !important;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.swiper-button-disabled:hover {
  background-color: white !important;
  color: #007bff !important;
}
